/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  /* background-image: url(../public/images/newimage.jpg); */
  /* background-color: #327CB5;
  color: orangered; */
}

.heading
{
  text-align: center;
  font-size:xx-large;
  margin-top: 8px;
  font-weight: bold;
}

.searchQuery
{
  margin-left: 40%;
}

.mainQuerry{
  margin-top: 4%;
  width: 40%;
  margin-left: 8%;
  /* background: none repeat scroll 0 0 #368aca; */
  border-color: #FFFFFF #327CB5 #327CB5 #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px #333333;
  color: #0d0b0b;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  
}

.searchQuerryButton
{
  margin-left: 2%;
  margin-right: -8px;
  background-color: orangered; /* Green */
  border: none;
  color: rgb(7, 6, 6);
  padding: 2px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 6px;
}

.sideBarButton
{
  height: 40px;
  margin-left: 2%;
  background-color: orangered;
  border: none;
  color: rgb(7, 6, 6);
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 24px; */
  border-radius: 6px;
}

.firstImage
{margin-top: 40px;
  height: auto;
  width: 100%;
}

.itemTitle
{
  margin-top: 40px;
  /* margin-bottom: 40%; */
  font-size: 44px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  /* text-decoration: underline black; */
}

.itemContainerChai
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.ChaiImage
{   
  height: 28rem;
  width: auto;
  display: flex;
  border-radius: 9px;
  margin-left: 14%;
 
}

.itemContainerChaiHeading
{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 8px;
}

.itemContainerChaiDiscription
{
  margin-left: -39%;
  margin-top: 2%;
  padding: 4px;
  /* width:  100%; */
  font-size: larger;
  font-weight: 600;
  background-color: cadetblue;
  border-radius: 4PX;
}

.coffeeImage
{
  height: 80vh;
  margin-left: 40vh;
  border-radius: 8px;
}

.itemContainerCoffee
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}

.itemContainerCoffeeHeading
{
text-align: center;
margin-top: 4vh;
margin-bottom: 4vh;
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bolder;
text-align: center;
}

.itemContainerCoffeeDiscription
{
  margin-right: -34.6%;
  border-radius: 4PX;
  margin-top: 2%;
  padding: 4px;
  /* width:  91%; */
  font-size: larger;
  font-weight: 600;
  background-color: cadetblue;
}

.enterItemList
{
  margin-top: 4vh;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}